{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container-fluid bg-white">
    <div class="row">
        <div class="col-12 mt-4 pl-0">
            <h2 class="pl-4">Shopping Bag</h2>
        </div>
    </div>
    <div class="row p-4">
        <div class="col-md-12 p-0">
            {% if bag_items %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Product Image</th>
                                <th>Product Name</th>
                                <th class="quantity-width">Quantity</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        {% for item in bag_items %}
                            <tr>
                                <td class="table-image-width">
                                    <img class="img-fluid" src="{{ item.product.image.url }}" alt="{{ item.product.name }} Image">
                                </td>
                                <td>
                                    <p class="table-text">{{ item.product.name }}</p>
                                </td>
                                <td class="pl-0 pr-0">
                                    <form class="update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group center-quantity">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-black rounded-0 pl-0 pr-1" aria-label="Decrement Quantity" 
                                                        data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                        <span class="icon">
                                                            <i class="fas fa-minus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="qty_input" type="number"
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="50"
                                                    data-item_id="{{ item.item_id }}"
                                                    id="id_qty_{{ item.item_id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-black rounded-0 pr-0 pl-1" aria-label="Increment Quantity"
                                                        data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                        <span class="icon">
                                                            <i class="fas fa-plus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-link text-info"><i class="fa-solid fa-arrows-rotate"></i></a>
                                    <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"><i class="fa-solid fa-trash-can"></i></a>
                                </td>
                                <td>
                                    <p>£{{ item.product.price | calc_subtotal:item.quantity}}</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                <p>Your shopping bag is empty!</p>
            {% endif %}
            <hr>
        </div>
        <div class="col-md-12 p-2 h-100 text-dark">
            <h3>Summary</h3>
            <hr>
            <p>Total Cost: <strong>£{{ total|floatformat:2 }}</strong></p>
            {% if free_delivery_delta > 0 %}
                <p class="text-pink">Spend an extra £{{ free_delivery_delta }} to get FREE DELIVERY!</p>
            {% endif %}
            <a href="{% url 'products' %}" class="btn pink-btn w-50">
                <p class="mb-0 text-center text-light p-2">Continue Shopping</p>
            </a>
            <a href="{% url 'checkout' %}" class="btn pink-btn right-sort w-50">
                <p class="mb-0 text-center text-light p-2">Secure Checkout <i class="fa-solid fa-lock"></i></p>
            </a>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script>
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    });

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    });
</script>
{% endblock %}

