{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block extra_title %} | Contact Us {% endblock %}

{% block content %}
<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-sm-12 col-md-6 mt-2">
            <hr>
            <h2>Contact Us</h2>
            <hr>
            <table>
                <tr>
                    <td class="p-2 pr-4m-2"><p>Contact Number:</p></td>
                    <td class="p-2 pr-4m-2"><p class="pl-4">07862 673827</p></td>
                </tr>
                <tr>
                    <td class="p-2 pr-4 m-2"><p>Email Address:</p></td>
                    <td class="p-2 pr-4 m-2"><p class="pl-4">ginamoree01@gmail.com</p></td>
                </tr>
                <tr>
                    <td class="p-2 pr-4 m-2"><p>Postal Address</p></td>
                    <td class="p-2 pr-4 m-2"><p class="pl-4">Banbury Distillery <br> 2A Finsbury Road <br>
                        Banbury <br> BH23 6AH</p></td>
                </tr>
            </table>
        </div>
        <div class="col-sm-12 col-md-6 mt-2">
            <hr>
            <h3>Our Socials</h3>
            <hr>
            <p>Follow us on social media for our latest gins and cocktail recipes!</p>
            <div class="row">
                <div class="col-12 contact-icons">
                    <ul class="mt-3">
                        <li><a href="https://www.facebook.com/IGinAmore" target="_blank" rel="noopener"
                                aria-label="Click here to go to our facebook page"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/gin_amore" target="_blank" rel="noopener"
                                aria-label="Click here to go to our twitter page"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/ginamore01/" target="_blank" rel="noopener"
                                aria-label="Click here to go to our instagram page"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCCUqmP9s5GKG86ceLjYPxJg" target="_blank" rel="noopener"
                                aria-label="Click here to go to our youtube page"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-6 our-gin-image">
            <div class="gin-lower-container">
                <h2 class="text-light">Our Gins</h2>
                <a href="{% url 'products' %}">
                    <p class="our-gin-btns text-dark pt-3 pb-3 pl-4 pr-4 w-50">Shop Now</p>
                </a>
            </div>
        </div>
        <div class="col-6 our-cocktail-image">
            <div class="gin-lower-container">
                <h2 class="text-light">Our Cocktails</h2>
                <a href="{% url 'cocktails' %}">
                    <p class="our-gin-btns text-dark pt-3 pb-3 pl-4 pr-4 w-50">Explore Now</p>
                </a>
            </div>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
</div>
{% endblock %}
