{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-6 main-images" id="left_blueberry">
            <img src="{% static 'images/blueberry1.jpg' %}" alt="An Image of a Left Botanical Blueberry Gin Icon">
        </div>
        <div class="col-6 main-images" id="right_blueberry">
            <img src="{% static 'images/blueberry2.jpg' %}" alt="An Image of a Right Botanical Blueberry Gin Icon">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>--Botanical Freshness--</h3>
        </div>
    </div>
    <div class="row circle_container">
        <div class="col" id="bg_circle">
            <img src="{% static 'images/gin.jpg' %}" alt="An Image of Our Famous Gin Fizz Cocktail">
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-center bg-homepage-buttons">
            <a href="">
                <p class="text-dark pt-2">Beautifully Crafted Gin</p>
            </a>
        </div>
        <div class="col-4 text-center bg-homepage-buttons">
            <a href="">
                <p class="text-dark pt-2">History of GinAmore</p>
            </a>
        </div>
        <div class="col-4 text-center bg-homepage-buttons">
            <a href="{% url 'products' %}">
                <p class="text-dark pt-2">Shop now</p>
            </a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-6 bartender"></div>
        <div class="col-6 gin"></div>
    </div>
    <div class="row">
        <div class="col-12 background_temp">
            <h3 class="text-center text-light">Information/Quotes</h3>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-4 cocktail-headings p-0">
            <a href="{% url 'cocktails' %}?category=summer_favourites">
                <div class="summer">
                    <h3 class="text-light ml-2 mt-2"><strong>Summer Favourites</strong></h3>
                    <p class="mt-4 text-light ml-2 hide">Extra Information</p>
                </div>
            </a>
        </div>
        <div class="col-4 cocktail-headings p-0">
            <a href="{% url 'cocktails' %}?category=winter_warmers">
                <div class="winter">
                    <h3 class="text-light ml-2 mt-2"><strong>Winter Warmers</strong></h3>
                    <p class="mt-4 text-light ml-2 hide">Extra Information</p>
                </div>
            </a>
        </div>
        <div class="col-4 cocktail-headings p-0">
            <a href="{% url 'cocktails' %}?category=boozy_brunches">
                <div class="brunch">
                    <h3 class="text-light mt-2 ml-2"><strong>Boozy Brunches</strong></h3>
                    <p class="mt-4 text-light ml-2 hide">Extra Information</p>
                </div>
            </a>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
</div>
{% endblock %}