{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row main-container">
        <img class="full-width" src="{% static 'images/maingin.jpg' %}" alt="Main Gin Image">
        <div class="col-6">
            <a href="{% url 'products' %}">
                <h5 class="text-center text-light border shop-main-btn pink-background">
                    <strong>Explore Our Products <i class="fa-solid fa-arrow-right"></i></strong>
                </h5>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-center bg-homepage-buttons">
            <a href="">
                <p class="text-light pt-2"><strong>Beautifully Crafted Gin</strong></p>
            </a>
        </div>
        <div class="col-4 text-center bg-homepage-buttons">
            <a href="{% url 'ourstory' %}">
                <p class="text-light pt-2"><strong>History of GinAmore</strong></p>
            </a>
        </div>
        <div class="col-4 text-center bg-homepage-buttons">
            <a href="{% url 'products' %}">
                <p class="text-light pt-2"><strong>Shop Now</strong></p>
            </a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row background_temp_strip">
        <div class="col-12 text-center mt-3">
            <h3 class="text-light">Experts in Distillery</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6 bartender"></div>
        <div class="col-6">
            <p class="mt-5">A blaze of big botanicals busting with character and spicy 
                Szechuan pepper that packs a punch on the palate. Perfect with
                our fruity, peppery aperitif.A blaze of big botanicals busting 
                with character and spicy Szechuan pepper that packs a punch on 
                the palate. Perfect with our fruity, peppery aperitif.</p>
            <p>A blaze of big botanicals busting with character and spicy 
                Szechuan pepper that packs a punch on the palate. Perfect with
                our fruity, peppery aperitif.A blaze of big botanicals busting 
                with character and spicy Szechuan pepper that packs a punch on 
                the palate. Perfect with our fruity, peppery aperitif.</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row background_temp_strip">
        <div class="col-12 text-center mt-3">
            <h3 class="text-light">Our Popular Gins</h3>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
    {% for product in products %}
        <div class="col-3 p-0 cocktail-main-images {% if forloop.counter >= 5 %}hide{% endif %}" id="slide{{ forloop.counter }}">
            <a href="{% url 'product_detail' product.id %}">
                <img src="{{ product.image.url }}" class="d-block w-100" alt="{{ product.name }}" class="main-cocktail-pictures">
                <p class="text-light white-background cocktail-name-main p-2"><strong>{{ product.name }} <i class="fa-solid fa-arrow-right"></i></strong></p>
            </a>
        </div>
    {% endfor %}
    </div>
</div>
<div class="container-fluid">
    <div class="row background_temp_strip">
        <div class="col-12 text-center mt-3">
            <h3 class="text-light">Cocktail Indulgence</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-4 cocktail-headings p-0">
            <a href="{% url 'cocktails' %}?category=summer_favourites">
                <div class="summer">
                    <p class="mt-4 text-light ml-2 hide">A blaze of big botanicals busting with character and spicy Szechuan pepper that packs a punch on the palate. Perfect with our fruity, peppery aperitif.</p>
                    <h5 class="text-light white-background ml-2 mt-2 arrow-fixed p-2"><strong>Summer Favourite Cocktails <i class="fa-solid fa-arrow-right"></i></strong></h5>
                </div>
            </a>
        </div>
        <div class="col-4 cocktail-headings p-0">
            <a href="{% url 'cocktails' %}?category=winter_warmers">
                <div class="winter">
                    <p class="mt-4 text-light ml-2 hide">A blaze of big botanicals busting with character and spicy Szechuan pepper that packs a punch on the palate. Perfect with our fruity, peppery aperitif.</p>
                    <h5 class="text-light white-background ml-2 mt-2 arrow-fixed p-2"><strong>Winter Warming Cocktails <i class="fa-solid fa-arrow-right"></i></strong></h5>
                </div>
            </a>
        </div>
        <div class="col-4 cocktail-headings p-0">
            <a href="{% url 'cocktails' %}?category=boozy_brunches">
                <div class="brunch">
                    <p class="mt-4 text-light ml-2 hide">A blaze of big botanicals busting with character and spicy Szechuan pepper that packs a punch on the palate. Perfect with our fruity, peppery aperitif.</p>
                    <h5 class="text-light white-background ml-2 mt-2 arrow-fixed p-2"><strong>Boozy Brunch Cocktails <i class="fa-solid fa-arrow-right"></i></strong></h5>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row background_temp_strip">
        <div class="col-12 text-center mt-3">
            <h3 class="text-light">Explore Our Products</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6 our-gin-image">
            <h2 class="text-light our-gin-label">Our Gins</h2>
            <a href="{% url 'products' %}">
                <p class="our-gin-btns text-dark pt-3 pb-3 pl-4 pr-4">Shop Now</p>
            </a>
        </div>
        <div class="col-6 our-cocktail-image">
            <h2 class="text-light our-cocktail-label">Our Cocktails</h2>
            <a href="{% url 'cocktails' %}">
                <p class="our-cocktail-btns text-dark pt-3 pb-3 pl-4 pr-4">Explore Now</p>
            </a>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    let liEls = document.querySelectorAll('ul li');
    let index = 0;
    window.show = function(increase) {
        index = index + increase;
        index = Math.min(Math.max(index,0), liEls.length-1);
        liEls[index].scrollIntoView({behavior: 'smooth'});
    }
</script>
{% endblock %}