{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-4 mt-5 mb-5" id="bg_circle">
            <img src="media/main_image.jpg">
        </div>
        <div class="col-8 mt-5">
            <h2>Quote/text here</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-center bg-light">
            <a href="">
                <p class="text-dark p-2">Beautifully Crafted Gin</p>
            </a>
        </div>
        <div class="col-4 text-center bg-light">
            <a href="">
                <p class="text-dark p-2">History of GinAmore</p>
            </a>
        </div>
        <div class="col-4 text-center bg-light">
            <a href="">
                <p class="text-dark p-2">Shop now</p>
            </a>
        </div>
    </div>
</div>
{% endblock %}