<script>
     // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(itemId) {
        var currentValue = parseInt($(`#id_qty_${itemId}`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 49;
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

     // Increment quantity
     $('.increment-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue + 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue - 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    });

    // Product Review
    const productReview = document.getElementById('post-product-review');

    productReview.addEventListener("click", function() {
        let reviewForm = document.getElementById("product-review");
        let close = document.getElementById("close-review");

        reviewForm.style.display = "block";

        close.addEventListener("click", function(){
        reviewForm.style.display = "none";
        });
    });

    // Javascript to handle pop ups
    const returnProducts = document.getElementById('return-product');

    returnProducts.addEventListener("click", function() {
        let returnProductPopUp = document.getElementById("return-product-popup");
        let close = document.getElementById("close-product-returns");

        returnProductPopUp.style.zIndex = 1;
        returnProductPopUp.style.pointerEvents = "auto";

        close.addEventListener("click", function(){
            returnProductPopUp.style.zIndex = -1;
        });
    });
    
    const shippingProduct = document.getElementById('shipping-product');

    shippingProduct.addEventListener("click", function() {
        let shippingProductPopUp = document.getElementById("shipping-product-popup");
        let close = document.getElementById("close-product-shipping");

        shippingProductPopUp.style.zIndex = 1;
        shippingProductPopUp.style.pointerEvents = "auto";

        close.addEventListener("click", function(){
            shippingProductPopUp.style.zIndex = -1;
        });
    });
</script>