{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container bg-light">
    <div class="row mt-4">
        <div class="col-12 mt-2 mb-2">
            <h3>Your previous orders:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Order Date</th>
                        <th>Order Total</th>
                        <th> </th>
                    </tr>
                </thead>
            {% for order in orders %}
            <tr class="checkout">
                <td>
                    <p>{{ order.order_number|truncatechars:10 }}</p>
                </td>
                <td>
                    <p>{{ order.date }}</p>
                </td>
                <td>
                    <p>£{{ order.grand_total }}</p>
                </td>
                <td>
                    <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                        <p class="pink-text">View Details <i class="fa-solid fa-arrow-right"></i></p>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        let countrySelected = $('#id_default_country').val();
        if(!countrySelected) {
            $('#id_default_country').css('color', '#aab7c4');
        }
        $('#id_default_country').change(function() {
            countrySelected = $(this).val();
            if(!countrySelected) {
                $(this).css('color', '#aab7c4');
            } else {
                $(this).css('color', '#000');
            }
        });
    </script>
{% endblock %}