@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap');

/*......................................................... Main site components */
html {
    height: 100%;
}

body {
    font-family: 'Mali', cursive;
}

/*...........................................................Homepage */

.main-images img {
    height: auto;
    width: 100%;
}

#left_blueberry {
    padding-left: 0;
}

#right_blueberry {
    padding-right: 0;
}

.message-container {
    position: fixed;
    top: 75px;
    right: 10px;
    z-index: 99999999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.btns a {
    text-decoration: none;
}

/*.......................................................Navigation Bar and Header*/

#navbarSupportedContent {
    justify-content: center;
}

.navbar-text {
    font-size: 20px;
}

#main-header-icons {
    text-align: right;
}

#main-search-area {
    float: right;
}

/*....................................................Homepage Content*/

#main_image_gin img{
    height: 180px;
    width: 100%;
    border-radius: 50%;
}

.circle_container {
    background-color: red;
    text-align: center;
    position: relative;
}

#bg_circle {
    height: 300px;
    position: absolute;
    top: -420px;
}

#bg_circle img {
    height: 100%;
    width: auto;
    border-radius: 50%;
}

/*........................................................Temporary Formatting*/

.background_temp {
    background-color: #1c3a42;
    height: 300px;
    border: white 2px solid;
}

.background_temp_strip {
    background-color: #1c3a42;
    height: 30px;
    border: white 2px solid;
}

.bg_nav_color {
    background-color: #1c3a42;
}

.bg_delivery_color {
    background-color: #1c3a42;
}

.bg-homepage-buttons {
    background-color: #a2b779;
    border: #1c3a42 solid 2px;
}

.bg-homepage-buttons a {
    text-decoration: none;
    font-size: 20px;
}
/*.....................................................Home page */

.bartender {
    height: 300px;
    border: solid white 2px;
    overflow: hidden;
    opacity: 0.75;
    background-size: cover;
    background-position: center;
    background-image: url('../images/bartender2.jpg');
}

.gin {
    overflow: hidden;
    border: solid white 2px;
    opacity: 0.75;
    background-size: cover;
    background-position: center;
    background-image: url('../images/ginpic.jpg');
}

/*.....................................................Gin Shop Cards */

.gin_image_cards_container {
    height: 200px;
    text-align: center;
    margin: 0;
}

.shop-btn {
    background-color: #1c3a42;
    width: 100%;
    border-radius: 5px;
    text-decoration: none;
}

.sort-btn {
    justify-content: right;
}

/*......................................................Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"]{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.edit-button {
    background-color: #ffa5009c;
    border-radius: 5px;
    text-decoration: none;
}

.delete-button {
    background-color: #ed6a6a8a;
    border-radius: 5px;
    text-decoration: none;
}

.heart {
    color: #866c89c2;
}

.btn-like {
    border: none;
    background-color: white;
}

/*........................................................Footer*/

.footer_background {
    background-color: #1c3a42;
    height: 230px;
    border: white 2px solid;
}

.footer-text {
    color: #b5b7bd;
}

.icons ul {
    padding: 0;
}

.icons li {
    display: inline;
    padding: 10px;
}

.icons li i {
    color: white;
    font-size: 20px;
}

.footer-list a {
    display: inline-block;
    text-decoration: none;
}

.footer-list a:hover {
    font-size: 18px;
    color: white;
}

.footer-list li {
    list-style: none;
}

.footer-list {
    padding-left: 0;
}

/*................................................Mailchimp */

#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 600px;
}

#mce-EMAIL {
    width: 100%;
}

#sign_up_image {
    height: 300px;
    border: solid white 2px;
    overflow: hidden;
    opacity: 0.75;
    background-size: cover;
    background-position: center;
    background-image: url('../images/gin_signup.jpg');
}

/*........................................................Product Details*/

.gin_image_container {
    height: 450px;
    text-align: center;
    margin: 0;
}

.gin_image {
    height: 100%;
    width: auto;
}

.add-button {
    background-color: #1c3a42;
    width: 100%;
    border-radius: 5px;
    text-decoration: none;
}

.wishlist_left {
    float: left;
}

.wishlist_right {
    float: right;
}

.extra-product-info a {
    text-decoration: none;
    color: #1c3a42;
}

/*....................................................Review Background */

.review-background {
    height: auto;
    background-color: #1c3a421c;
    border-radius: 5px;
}

/*......................................................Delivery Information*/

.delivery-information {
    height: auto;
    background-color: #1c3a42;
}

.white-line {
    background-color: white;
}

.return-delivery-btn p {
    background-color: white;
    border: solid 2px #1c3a42;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    text-decoration: none;
    color: #1c3a42;
}

.return-delivery-container a {
    text-decoration: none;
}

.return-delivery-btn p:hover {
    background-color: #1c3a421c;
}

/*...............................................................wishlist*/

.no-items {
    height: 250px;
}

/*..............................................................cocktails*/

.hide {
    display: none;
}

.text-decoration-none a{
    text-decoration: none;
}

.cocktail-headings a{
    text-decoration: none;
}

.cocktail-image {
    float: left;
    width:  200px;
    height: 200px;
    object-fit: cover;
    border: solid 2px white;
}

.cocktail-background {
    height: 250px;
    background-color: #fda4a55c;
    border: solid 2px white;
}

.summer {
    height: 300px;
    border: solid white 2px;
    overflow: hidden;
    opacity: 0.85;
    background-size: cover;
    background-position: center;
    background-image: url('../images/summergin.jpg');
}

.summer:hover > .hide {
    display: block;
}

.winter {
    height: 300px;
    border: solid white 2px;
    overflow: hidden;
    opacity: 0.85;
    background-size: cover;
    background-position: center;
    background-image: url('../images/wintergin.jpg');
}

.winter:hover > .hide {
    display: block;
}

.brunch {
    height: 300px;
    border: solid white 2px;
    overflow: hidden;
    opacity: 0.85;
    background-size: cover;
    background-position: center;
    background-image: url('../images/brunchgin.jpg');
}

.brunch:hover > .hide {
    display: block;
}