@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap');

/*......................................................... Main site components */
html{
    height: 100%;
}

body {
    font-family: 'Mali', cursive;
    background: url("{% static 'images/main_background.jpg' %}");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: white;
    z-index: -1;
}

/*.......................................................Navigation Bar and Header*/

#navbarSupportedContent {
    justify-content: center;
}

#main-header-icons {
    text-align: right;
}

#main-search-area {
    float: right;
}

/*....................................................Homepage Content*/

#main_image_gin img{
    height: 180px;
    width: 100%;
    border-radius: 50%;
}

#bg_circle {
    height: 300px;
}

#bg_circle img {
    height: 100%;
    width: auto;
}

/*........................................................Temporary Formatting*/

.background_temp {
    background-color: #866c89c2;
    height: 150px;
}

.bg_nav_color {
    background-color: #866c89c2;
}

/*.....................................................Gin Shop Cards */

.gin_image_container {
    height: 200px;
    text-align: center;
    margin: 0;
}

.gin_image {
    height: 100%;
    width: auto;
}

.shop-btn {
    background-color: #866c89c2;
    border-radius: 5px;
    text-decoration: none;
}