{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-12">
            <hr>
        </div>
        <div class="col-12 mt-2">
            <h2>Our Story</h2>
            <hr>
            <p>GinAmore was founded in 1997 and since then has become one of the UKs Top 10 Gin Selling Sites.
                Whether you are browsing for yourself or looking to purchase the perfect gin gift set, we have
                it all.</p>
            <p>As a company we sell only the worlds most liked premium brands of gin, at a discounted
                high street cost. How do we do this you may ask? Well we put you as the customer first and ask
                for less in return. The gin products on our site and each is carefully selected with you in mind,
                saving you less time scrolling and giving you more time to do the things you love. Drinking gin!</p>
            <p>Our distillers provide you with hints and tips on how to serve the perfect gin and tonic, along
                with boozy brunch cocktail ideas to share with friends.</p>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-6 our-gin-image">
            <div class="gin-lower-container">
                <h2 class="text-light">Our Gins</h2>
                <a href="{% url 'products' %}">
                    <p class="our-gin-btns text-dark pt-3 pb-3 pl-4 pr-4 w-50">Shop Now</p>
                </a>
            </div>
        </div>
        <div class="col-6 our-cocktail-image">
            <div class="gin-lower-container">
                <h2 class="text-light">Our Cocktails</h2>
                <a href="{% url 'cocktails' %}">
                    <p class="our-gin-btns text-dark pt-3 pb-3 pl-4 pr-4 w-50">Explore Now</p>
                </a>
            </div>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
</div>
{% endblock %}