{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid bg-white header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="container-fluid bg-white h-100">
        <div class="row h-100">
            <div class="col-12 my-auto text-center">
                <p class="display-4 logo-font text-blue delivery-text-header">
                    The page you are looking for isn't available
                </p>
                <div class="my-5">
                    <p>
                        <a href="{% url 'products' %}" class="btn btn-lg rounded-0 text-uppercase py-3">
                            Back to products <i class="fa-solid fa-arrow-right text-blue delivery-text"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}