{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="GinAmore is a Luxury Gin shop which produces unique flavours and cocktail recipes.">
      <meta name="keywords" content="gin, cocktail, mixer, botanical, luxury,">
      <link rel="icon" type="image/png" href="{% static 'images/favicon.jpg' %}"/>
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/9488bd3455.js" crossorigin="anonymous"></script>
      <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>GinAmore</title>
  </head>
  <body>
    <header class="container-fluid bg_nav_color">
      <div class="row">
        <div class="col-8">
          <a href="{% url 'home' %}" class="nav-link text-dark">
            <h1>GinAmore</h1>
          </a>
        </div>
        <div class="col-4" id="main-header-icons">
          <form method="GET" action="{% url 'products' %}" class="d-flex mt-3">
            <input class="form-control me-2" type="text" placeholder="Search" name="q" aria-label="Search">
            <button class="btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
          <ul class="list-inline mb-0">
            <li class="list-inline-item dropdown">
              <a href="" class="d-inline p-2 text-dark nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <div class="text-center">
                  <div><i class="fa-solid fa-user"></i></div>
                  <p class="my-0">My Account</p>
                </div>
              </a>
              <div class="dropdown-menu">
                {% if request.user.is_authenticated %}
                  {% if request.user.is_superuser %}
                    <a href="" class="dropdown-item">Shop Management</a>
                  {% endif %}
                  <a href="" class="dropdown-item">My Profile</a>
                  <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                  <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                  <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                {% endif %}
              </div>
            </li>
            <li class="list-inline-item">
              <a href="{% url 'view_bag' %}" class="{% if grand_total %} text-info {% else %} text-dark {% endif %} nav-link text-dark d-inline">
                <div class="text-center">
                  <div><i class="fa-solid fa-bag-shopping"></i></div>
                  <p class="my-0">
                    {% if grand_total %}
                      £{{ grand_total|floatformat:2 }}
                    {% else %}
                      £0.00
                    {% endif %}
                  </p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <div class="container-fluid p-0">
      <nav class="navbar navbar-expand-lg bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link text-dark mr-5" href="#" id="our-gins-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Gins
              </a>
              <div class="dropdown-menu border-0" aria-labelledby="our-gins-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Gins</a>
                <a href="{% url 'products' %}?category=sloe_gin" class="dropdown-item ">Sloe Gin</a>
                <a href="{% url 'products' %}?category=dry_gin" class="dropdown-item ">Dry Gin</a>
                <a href="{% url 'products' %}?category=flavoured_gin" class="dropdown-item">Flavoured Gin</a>
              </div>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-dark mr-5" href="#">Our Story</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link text-dark mr-5" href="#" id="our-cocktails-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Cocktails
              </a>
              <div class="dropdown-menu border-0" aria-labelledby="our-cocktails-link">
                <a href="" class="dropdown-item">All Recipes</a>
                <a href="" class="dropdown-item ">Summer Favourites</a>
                <a href="" class="dropdown-item ">Winter Warmers</a>
                <a href="" class="dropdown-item">Boozy Brunches</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark mr-5" href="#">Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container-fluid bg_delivery_color">
      <div class="row">
        <div class="col">
          <h4 class="text-center">Free delivery on orders over £{{ free_delivery_threshold }}</h4>
        </div>
      </div>
    </div>

    {% if messages %}
      <div class="message-container">
        {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
      </div>
    {% endif %}

  
    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
      $('.toast').toast('show');
    </script>
    {% endblock %}

  </body>
</html>