{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Our Favourite Cocktails</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr>
        </div>
    </div>
    <div class="row">
        {% for cocktail in cocktails %}
        <div class="col-sm-12 col-md-12 col-lg-6 mt-2 cocktail-background">
            <div class="row">
                <div class="col-4">
                    <a href="{% url 'cocktail_detail' cocktail.id %}">
                        <img class="cocktail-image mt-4" src="{{ cocktail.image.url }}" alt="{{cocktail.name}}">
                    </a>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-12 text-decoration-none">
                            <a href="{% url 'cocktail_detail' cocktail.id %}">
                                <h5 class="mt-4 ml-2 text-dark">
                                    {{ cocktail.name }}
                                </h5>
                            </a>
                            <hr>
                        </div>
                        <div class="col-6 text-decoration-none">
                            <a href="{% url 'cocktails' %}?category={{ cocktail.category }}">
                                <p class="text-dark ml-2">{{ cocktail.category.friendly_name }}</p>
                            </a>
                        </div>
                        <div class="col-6">
                            <p class="ml-2"><i class="fas fa-heart heart mr-2"></i>{{ cocktail.rating }}/5</p>
                        </div>
                        <hr/>
                        <div class="col-12">
                            <p class="ml-2">
                                {{ cocktail.description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% if request.user.is_superuser %}
                            <div class="row">
                                <div class="col-6 btns">
                                    <a href="{% url 'edit_cocktail' cocktail.id %}"><p class="text-light edit-button text-center">Edit</p></a>
                                </div>
                                <div class="col-6 btns">
                                    <a href="#"><p class="text-light delete-button text-center">Delete</p></a>
                                </div>
                            </div>
                        {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-12">
            <hr>
        </div>
    </div>
</div>
{% endblock %}
