{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <a href="{{ cocktail.image.url }}" target="_blank">
                <img class="mt-4 mb-4 cocktail-image-detail" src="{{ cocktail.image.url }}" alt="{{cocktail.name}}">
            </a>
        </div>
        <div class="col-8">
            <h5 class="mt-4">{{ cocktail.name }}</h5>
            <hr>
            <div class="row">
                <div class="col-6 text-decoration-none">
                    <a href="{% url 'cocktails' %}?category={{ cocktail.category }}">
                        <p class="text-dark">{{ cocktail.category.friendly_name }}</p>
                    </a>
                </div>
                <div class="col-6">
                    <p><i class="fas fa-heart heart mr-2"></i>{{ cocktail.rating }}/5</p>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    {{ cocktail.recipe | safe }}
                </div>
                <div class="col-4">
                    <p>{{ cocktail.ingredients | safe }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 background_temp">
            <h3 class="text-center text-light">Reccomended Gins</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {% if reviews %}
                {% for review in reviews %}
                    <div class="row border">
                        <div class="col-10 mt-2 mb-2">
                            <table>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td class="pr-4 pl-4">{{ review.user }}</td>
                                    <td class="pr-4 pl-4">{{ review.user_review }}</td>
                                    <td class="pr-4 pl-4">{{ review.date_created }}</td>
                                  </tr>
                            </table>
                        </div>
                        {% if request.user.is_superuser %}
                        <div class="col-2 btns pt-2">
                            <div class="red-background">
                                <a href="{% url 'delete_review' review.id %}"><p class="text-light text-center"><i class="fa-solid fa-xmark"></i></p></a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p> No Reviews. </p>
            {% endif %}
        </div>
        <div class="col-6">
            <form method="POST" action="{% url 'cocktail_detail' cocktail.id %}">
                {% csrf_token %}
                {{ review_form|crispy }}
                <button class="text-light add-button text-center" type="submit">Post Review</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
