{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <a href="{{ cocktail.image.url }}" target="_blank">
                <img class="mt-4 mb-4 cocktail-image-detail" src="{{ cocktail.image.url }}" alt="{{cocktail.name}}">
            </a>
        </div>
        <div class="col-8">
            <h5 class="mt-4">{{ cocktail.name }}</h5>
            <hr>
            <div class="row">
                <div class="col-6 text-decoration-none">
                    <a href="{% url 'cocktails' %}?category={{ cocktail.category }}">
                        <p class="text-dark">{{ cocktail.category.friendly_name }}</p>
                    </a>
                </div>
                <div class="col-6">
                    <p><i class="fas fa-heart heart mr-2"></i>{{ cocktail.rating }}/5</p>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    {{ cocktail.recipe | safe }}
                </div>
                <div class="col-4">
                    <p>{{ cocktail.ingredients | safe }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 background_temp">
            <h3 class="text-center text-light">Reccomended Gins</h3>
        </div>
    </div>
</div>
{% endblock %}