{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container-fluid bg-white">
    <div class="row">
        <div class="col-12 mt-4 mb-2">
            <h3>Product Management: Edit Cocktail</h3>
            <hr>
            <form method="POST" action="{% url 'edit_cocktail' cocktail.id %}" class="form" enctype="multipart/form-data">
                <div class="row background_temp_strip-pink">
                    <div class="col-12">
                        <h3 class="mt-2 text-light">Cocktail Information:</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-4 mt-4 center-image enlarge">
                        <a href="{{ cocktail.image.url }}" target="_blank">
                            <img class="mt-4 mb-4 cocktail-edit-image" src="{{ cocktail.image.url }}" alt="{{cocktail.name}}">
                            <p class="text-center text-dark"><i class="fa-solid fa-magnifying-glass"></i> Click to enlarge</p>
                        </a>
                    </div>
                    <div class="col-md-12 col-lg-8 mt-2">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.name != 'image' %}
                                {{ field | as_crispy_field }}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-12"><hr></div>
                <div class="row background_temp_strip-pink">
                    <div class="col-12">
                        <h3 class="mt-2 text-light">Recipe Information:</h3>
                    </div>
                </div>
                <div class="row">
                    {% if formset %}
                    <div class="col-md-12 col-lg-4">
                        <h3 class="mt-2"><strong>Ingredients:</strong></h3>
                        <hr>
                        {{ formset.management_form }}
                        <div id="ingredient-form-list-edit">
                            {% for form in formset %}
                                <div class="ingredient-form p-2">
                                    {{ form | crispy }}
                                </div>
                            {% endfor %}
                        </div>
                        <div id="empty-form-edit" class="hide">{{ formset.empty_form | crispy }}</div>
                        <button id="add-more-ingredients-edit" type="button" class="text-success"><i class="fa-solid fa-plus mr-2"></i>Add Additional Ingerdient</button>
                    </div>
                {% endif %}
                {% if formset_2 %}
                    <div class="col-md-12 col-lg-8">
                        <hr class="medium-show">
                        <h3 class="mt-2"><strong>Steps:</strong></h3>
                        <hr>
                        {{ formset_2.management_form }}
                        <div id="steps-form-list-edit">
                            {% for form in formset_2 %}
                                <div class="steps-form">
                                    {{ form | crispy }}
                                </div>
                            {% endfor %}
                        </div>
                        <div id="empty-steps-form-edit" class="hide">{{ formset_2.empty_form | crispy }}</div>
                        <button id="add-more-steps-edit" type="button" class="text-success"><i class="fa-solid fa-plus mr-2"></i>Add Additional Step</button>
                    </div>
                {% endif %}
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <hr>
                    </div>
                    <div class="col-6 checkout">
                        <a href="{% url 'cocktails' %}">
                            <p class="our-gin-btns-checkout text-light text-center">Cancel</p>
                        </a>
                    </div>
                    <div class="col-6">
                        <button class="our-gin-btns-checkout text-light" type="submit">Update cocktail</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    const addIngredient = document.getElementById('add-more-ingredients-edit');
    const totalNewForm = document.getElementById("id_form1-TOTAL_FORMS");
    addIngredient.addEventListener('click', function(event) {
        if (event) {
            event.preventDefault();
        }
        const currentIngredientForm = document.getElementsByClassName("ingredient-form")
        let ingredientLength = currentIngredientForm.length;
        const ingredientList = document.getElementById('ingredient-form-list-edit');
        const emptyForm = document.getElementById('empty-form-edit').cloneNode(true);
        emptyForm.setAttribute('class', 'ingredient-form');
        emptyForm.setAttribute('id', `form-${ingredientLength}`);
        const regex = new RegExp('__prefix__', 'g');
        emptyForm.innerHTML = emptyForm.innerHTML.replace(regex, ingredientLength);
        totalNewForm.setAttribute('value', ingredientLength + 1)
        ingredientList.append(emptyForm);
    })
    // Javascript to handle adding a new step
    const addStep = document.getElementById('add-more-steps-edit');
    const totalNewStepsForm = document.getElementById("id_form2-TOTAL_FORMS");
    addStep.addEventListener('click', function(event) {
        if (event) {
            event.preventDefault();
        }
        const currentStepsForm = document.getElementsByClassName("steps-form");
        let stepsLength = currentStepsForm.length;
        const stepsList = document.getElementById('steps-form-list-edit');
        const emptyForm = document.getElementById('empty-steps-form-edit').cloneNode(true);
        emptyForm.setAttribute('class', 'steps-form');
        emptyForm.setAttribute('id', `form-${stepsLength}`);
        const regex = new RegExp('__prefix__', 'g');
        emptyForm.innerHTML = emptyForm.innerHTML.replace(regex, stepsLength);
        totalNewStepsForm.setAttribute('value', stepsLength + 1);
        stepsList.append(emptyForm);
    })
    // Handles the addition of an image.
    $('#new-image').change(function() {
        var file = $("#new-image")[0].files[0];
        $("#filename").text(`Image Selected: ${file.name}`);
    });
</script>
{% endblock %}