{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container-fluid bg-white">
    <div class="row">
        <div class="col-12 mt-4">
            <h3>Product Management: Edit a Product</h3>
            <hr>
            <form method="POST" action="{% url 'edit_product' product.id %}" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div class="row">
                    <div class="col-6">
                        <a href="{% url 'products' %}" class="btn shop-btn text-light">Cancel</a>
                    </div>
                    <div class="col-6">
                        <button class="btn shop-btn text-light" type="submit" aria-label="Update Product">
                            Update product
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 background_temp_strip">
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
        <script type="text/javascript">
            $('#new-image').change(function() {
                var file = $("#new-image")[0].files[0];
                $("#filename").text(`Your new product image will be set to: ${file.name}`);
            });
        </script>
{% endblock %}
