{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center mt-4 pl-5 pr-5">
            <h3>
                <strong>
                {% if current_categories %}
                    {% for c in current_categories %}
                        {{ c.friendly_name }}
                    {% endfor %}
                {% else %}
                    Shop All
                {% endif %}
                </strong>
            </h3>
            <h4>Our gins are a labour of love that has taken us on a journey of
                original botanicals, innovation and imaginative natural flavours. 
                The result is a diverse range of exceptional gins that captivate 
                the senses - designed to impress, explore, talk about and remember. 
                We're sure you'll find something to your taste.
            </h4>
        </div>
    </div>
    <div class="row mt-2 mb-2 sort-btn mr-2">
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle shop-btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
              Sort Products
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">Price (Lowest - Highest)</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=desc">Price (Highest - Lowest)</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">Highest Rating</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        {% for product in products %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="card mt-2 mb-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col gin_image_container">
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="gin_image" src="{{product.image.url}}" alt="Image of Gin">
                                </a>
                            </div>
                        </div>
                        <p class="mt-3 text-center">{{product.name}}</p>
                        <p class="text-center">£{{product.price}}</p>
                        <p class="text-center">{{product.rating}}/5</p>
                        <div class="row">
                            <div class="col-12 btns">
                                <a href="{% url 'product_detail' product.id %}"><p class="text-light shop-btn text-center">Shop Now</p></a>
                            </div>
                        </div>
                        {% if request.user.is_superuser %}
                            <div class="row">
                                <div class="col-6 btns">
                                    <a href="{% url 'edit_product' product.id %}"><p class="text-light edit-button text-center">Edit</p></a>
                                </div>
                                <div class="col-6 btns">
                                    <a href="{% url 'delete_product' product.id %}"><p class="text-light delete-button text-center">Delete</p></a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                  </div>                  
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}