{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block extra_title %} | All Products {% endblock %}

{% block content %}
<div class="container-fluid bg-white">
    <div class="row">
        <div class="col-12 pl-0 pr-0 gin-container">
            {% if current_categories %}
                {% for c in current_categories %}
                    {% if c.name == "sloe_gin" %}
                        <img class="gin-width" src="{% static 'images/sloe_gin.webp' %}" alt="An image to display the {{ c.friendly_name }} category">
                    {% elif c.name == "flavoured_gin" %}
                        <img class="gin-width" src="{% static 'images/flavored_gin.webp' %}" alt="An image to display the {{ c.friendly_name }} category">
                    {% elif c.name == "dry_gin" %}
                        <img class="gin-width" src="{% static 'images/dry_gin.webp' %}" alt="An image to display the {{ c.friendly_name }} category">
                    {% endif %}
                {% endfor %}
            {% else %}
                <img class="gin-width" src="{% static 'images/all_gin.webp' %}" alt="An image to display the all gin products">
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center mt-2 p-0">
            <h2 class="text-dark p-2">
                {% if current_categories %}
                    {% for c in current_categories %}
                        {{ c.friendly_name }}
                    {% endfor %}
                {% else %}
                    Shop All
                {% endif %}
            </h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 pt-2 text-dark pl-0 pr-0 text-center">
            <p>Our gins are a labour of love that has taken us on a journey of
                original botanicals, innovation and imaginative natural flavours.
                <br> The result is a diverse range of exceptional gins that captivate
                the senses - designed to impress, explore, talk about and remember.
                We're sure you'll find something to your taste.
            </p>
            <hr>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-6 mt-2 mb-2 dropdown sort-product">
            <a class="btn btn-secondary dropdown-toggle shop-btn-product" href="#" role="button"
                id="dropdownMenuLinkCategories" data-toggle="dropdown" aria-expanded="false">
                Gin Category
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLinkCategories">
                <li><a class="dropdown-item" href="{% url 'products' %}">All Gins</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=sloe_gin">Sloe Gin</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=dry_gin">Dry Gin</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=flavoured_gin">Flavoured Gin</a>
                </li>
            </ul>
        </div>
        <div class="col-6 mt-2 mb-2 dropdown mr-0 sort-product">
            <a class="btn btn-secondary dropdown-toggle shop-btn-product right-sort" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-expanded="false">
                Sort Products
            </a>
            {% if selected_categories %}
            <ul class="dropdown-menu right-sort" aria-labelledby="dropdownMenuLink">
                <li class="product-sort-item"><a class="dropdown-item"
                        href="{% url 'products' %}?category={{ selected_categories }}&sort=price&direction=asc">Price
                        (Lowest - Highest)</a></li>
                <li class="product-sort-item"><a class="dropdown-item"
                        href="{% url 'products' %}?category={{ selected_categories }}&sort=price&direction=desc">Price
                        (Highest - Lowest)</a></li>
                <li class="product-sort-item"><a class="dropdown-item"
                        href="{% url 'products' %}?category={{ selected_categories }}&sort=rating&direction=desc">Highest
                        Rating</a></li>
            </ul>
            {% else %}
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">Price (Lowest -
                        Highest)</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=desc">Price (Highest -
                        Lowest)</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">Highest
                        Rating</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
    {% if products %}
        <div class="row">
            {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card mt-2 mb-2">
                        <div class="card-body cocktails-main btns">
                            <div class="row">
                                <div class="col gin_image_cards_container">
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="gin_image_cards" src="{{ product.image.url }}" alt="An image to show {{ product.name }}" height="100" width="100">
                                    </a>
                                </div>
                            </div>
                            <p class="mt-3 text-center">{{product.name}}</p>
                            <p class="text-center mt-2">£{{product.price}}</p>
                            <a href="{% url 'products' %}?category={{ product.category }}">
                                <p class="gin-category text-center mt-2">{{ product.category.friendly_name }}</p>
                            </a>
                            <p class="text-center"><i class="fas fa-heart heart mr-2 mt-2"></i>{{product.rating}}/5</p>
                            <div class="row">
                                <div class="col-12 btns">
                                    <a href="{% url 'product_detail' product.id %}">
                                        <p class="text-light shop-btn text-center mt-2">
                                            Shop Now
                                        </p>
                                    </a>
                                </div>
                            </div>
                            {% if request.user.is_superuser %}
                                <div class="row mt-2">
                                    <div class="col-6 btns">
                                        <a href="{% url 'edit_product' product.id %}"><p class="text-blue edit-button text-center">Edit</p></a>
                                    </div>
                                    <div class="col-6 btns">
                                        <a href="{% url 'delete_product' product.id %}"><p class="text-blue delete-button text-center">Delete</p></a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>                  
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="row delivery-text-header text-blue">
            <i class="fa-solid fa-face-confused"></i>
            <p>Looks like there are no products to see here. Try again later</p>
        </div>
    {% endif %}
    <div class="col-12 p-0">
        <hr>
    </div>
</div>
{% endblock %}