{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            {% if product.image %}
            <div class="col gin_image_container">
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="gin_image" src="{{product.image.url}}" alt="Image of Gin">
                </a>
            </div>
            {% else %}
            <div class="col">
                <p>No Image Available</p>
            </div>
            {% endif %}
        </div>
        <div class="col-sm-12 col-md-6">
            <p>{{ product.name }}</p>
            <p>{{ product.description }}</p>
            <p>£{{ product.price }}</p>
            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p>Quantity</p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-black rounded-0" 
                                            data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input" type="number"
                                        name="quantity" value="1" min="1" max="50"
                                        data-item_id="{{ product.id }}"
                                        id="id_qty_{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-black rounded-0"
                                            data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <input type="submit" class="btn" value="Add to bag">
                            <input type="wishlist" class="btn" value="Add to wishlist">
                            <i class="fa-solid fa-heart"></i>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
            </form>
            {% if request.user.is_superuser %}
            <div class="row">
                <div class="col-6 btns">
                    <a href="{% url 'edit_product' product.id %}"><p class="text-light edit-button text-center">Edit</p></a>
                </div>
                <div class="col-6 btns">
                    <a href="{% url 'delete_product' product.id %}"><p class="text-light delete-button text-center">Delete</p></a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}