{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-sm-12 col-md-6">
            {% if product.image %}
            <div class="col gin_image_container mb-4">
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="gin_image" src="{{product.image.url}}" alt="Image of Gin">
                </a>
                <p class="mt-2"><i class="fa-solid fa-magnifying-glass"></i> Click to enlarge</p>
            </div>
            {% else %}
            <div class="col">
                <p>No Image Available</p>
            </div>
            {% endif %}
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="row mt-4">
                <div class="col-8 mb-4">
                    <h4>{{ product.name }}</h4>
                </div>
                <div class="col-4 p-0">
                    <form class="form" action="{% url 'add_to_wishlist' product.id %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <div class="wishlist_left">
                            <button type="submit" value="{{ product.id }}" class="btn-like p-0">
                                <i class="fas fa-heart heart"></i>
                                <div class="wishlist_right ml-2">
                                    <p>Remove from wishlist</p>
                                </div>
                            </button>
                        </div>
                        {% else %}
                        <div class="wishlist_left">
                            <button type="submit" value="{{ product.id }}" class="btn-like p-0">
                                <i class="far fa-heart"></i>
                                <div class="wishlist_right ml-2">
                                    <p>Add to wishlist</p>
                                </div>
                            </button>
                        </div>
                        {% endif %}
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                </div>
            </div>
            {% if request.user.is_superuser %}
            <div class="row">
                <div class="col-6 btns">
                    <a href="{% url 'edit_product' product.id %}"><p class="text-light edit-button text-center">Edit</p></a>
                </div>
                <div class="col-6 btns">
                    <a href="{% url 'delete_product' product.id %}"><p class="text-light delete-button text-center">Delete</p></a>
                </div>
            </div>
            {% endif %}
            <hr/>
            <div class="row">
                <div class="col-6 extra-product-info">
                    <a href="#delivery"><p>Delivery Information</p></a>
                    <a href="{% url 'products' %}?category={{ product.category }}">
                        <p class="mt-2">
                            Category: <span class="gin-category">{{ product.category.friendly_name }}</span>
                        </p>
                    </a>
                </div>
                <div class="col-6 extra-product-info">
                    <a href="#">
                        <p>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                        Reviews
                        </p>
                    </a>
                </div>
            </div>
            <p class="mt-4">{{ product.description }}</p>
            <hr/>
            <div class="row">
                <div class="col-6">
                    <p><strong>£{{ product.price }}</strong></p>
                </div>
                <div class="col-6">
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                            <div class="form-row">
                                <div class="col-12">
                                    <div class="form-group w-50">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-black rounded-0" 
                                                    data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-minus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control qty_input" type="number"
                                                name="quantity" value="1" min="1" max="50"
                                                data-item_id="{{ product.id }}"
                                                id="id_qty_{{ product.id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-black rounded-0"
                                                    data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-plus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <input type="submit" class="text-light add-button text-center" value="Add to bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid" id="delivery">
    <div class="row mt-4 mb-4">
        <div class="col-12">
            <div class="row background_header_reccommended">
                <div class="col-12">
                    <h3 class="text-light">Delivery & Returns</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <hr class="white-line"/>
                    <table>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Standard Delivery</td>
                            <td>Orders within the UK will be delivered in 5 working days, 8am-8pm, Monday-Friday. Free on orders over £50.</td>
                            <td>Cost dependent on product</td>
                        </tr>
                    </table>
                    <hr class="white-line"/>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4>Our Returns Policy</h4>
                    <p>Returns can be made by post using the return slip found within your order.
                        <br/>You can also return to your nearest Click & Collect Store.</p>
                    <div class="row">
                        <div class="col-6 return-delivery-container">
                            <a href="#" class="return-delivery-btn text-center"><p class="pt-3 text-light">More Information on Our Returns Policy</p></a>
                        </div>
                        <div class="col-6 return-delivery-container">
                            <a href="#" class="return-delivery-btn text-center"><p class="pt-3 text-light">More Delivery Information</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-12">
            <div class="row">
                <div class="col-12 background_header_reccommended">
                    <h4 class="text-light pt-2">Similar Products:</h4>
                </div>
            </div>
            <div class="row background_temp_reccommended">
                {% for item in products %}
                    {% if item.category == product.category and item != product %}
                        <div class="col-2 product-reccommended-images mt-2 p-0">
                            <a href="{% url 'product_detail' item.id %}">
                                <img src="{{item.image.url}}" class="gin_image d-block w-100" alt="{{ item.name }}" class="main-cocktail-pictures">
                                <p class="text-light white-background cocktail-name-main p-2"><strong>{{ item.name }} <i class="fa-solid fa-arrow-right"></i></strong></p>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row background_header_reccommended">
        <div class="col-12">
            <h3 class="text-light">Reviews</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {% if reviews %}
                {% for review in reviews %}
                    <div class="row">
                        <div class="col-12 review-background mt-2 mb-2">
                            <table>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td class="pr-4 pl-4">{{ review.user }}</td>
                                    <td class="pr-4 pl-4">{{ review.user_review }}</td>
                                    <td class="pr-4 pl-4">{{ review.date_created }}</td>
                                  </tr>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p> No Reviews. </p>
            {% endif %}
        </div>
        <div class="col-6">
            <form method="POST" action="{% url 'product_detail' product.id %}">
                {% csrf_token %}
                {{ review_form|crispy }}
                <button class="text-light add-button text-center" type="submit">Post Review</button>
            </form>
        </div>
    </div>
    <hr>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}